.debug-window {
	position: fixed;
    bottom: 0px;
    left: 0px;
    height: 100px;
    background-color: white;
    width: 100vw;
}

.close-btn {
	position: fixed;
	width: 60vw;
	left: 20vw;
	background-color: #4990F7;
	color: white;
	text-align: center;
	border-radius: 7px;
	height: 25px;
	line-height: 25px;
	bottom: 105px;
	display: none;
}

.claim-prize-modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 999999;
	background-color: white;
}

.claim-prize-modal.closed {
	left: -100vw;
}

.claim-prize-modal.open {
	left: -100vw;
}